::-webkit-scrollbar {
    width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
}

#main-container:hover::-webkit-scrollbar-thumb {
    background: #949aa1;
}
#main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 4rem;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    gap: 10px;
    overflow-y: scroll;
}

.m-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    min-width: 500px;
}

.m-main-heading-container {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
}

.m-task-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin: 10px 0;
}

.m-main-heading-text {
    font-size: 18px;
    font-weight: 600;
    color: #424242;
}

.task-btn-and-taskform-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0;
    width: 100%;
}

#add-task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    gap: 0.2em;
    color: #213555;
    font-weight: 600;
    padding: 8px 10px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgba(66, 66, 66, 0.2);
}

#add-task-btn:hover {
    outline: 2px solid #ACB1D6;
}

.m-add-task-btn-icon {
    width: 1rem;
}