#main-container  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 4rem;
    gap: 10px;
    overflow-y: scroll;
}
.m-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}
.m-main-heading-container {
    display: flex;
    padding: 50px 0 0 0;
    width: 100%;
}
.m-task-container {
    width: 100%;
}
.m-main-heading-text {
    font-size: 18px;
    font-weight: 600;
    color: #424242;
}
.task-btn-and-taskform-container {
    padding: 10px 0;
    width: 100%;
}

#add-task-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    gap: 0.3em;
    color: #213555;
    font-weight: 600;
    padding: 0.3em 0.4em;
    cursor: pointer;
}

#add-task-btn:hover {
    outline: 1px solid #213555;
    border-radius: 0.2em;
}
.m-add-task-btn-icon {
    width: 1rem; 
}
