.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #FFF;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    min-width: 200px;
    padding: .8rem 2rem 1.5rem 2rem;
    box-shadow: 0 0 4px 1px rgba(148, 154, 161, 0.2);
}
.top-section,
.sd-footer {
    width: 100%;
}

.sd-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}
.sd-links {
    text-decoration: none;
    color: #213555;
    font-size: .9rem;
    width: 80%;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.sd-links:hover {
    color: #fff;
    font-weight: 600;
    background-color: #ACB1D6;
    box-shadow: 0 0 4px 1px rgba(148, 154, 161, 0.2);
}
.sd-icons {
    width: 1.2rem;
}

.sd-heading-icon {
    width: 2rem;
    height: 2rem;
}

.sd-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sd-heading-wrapper {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.sd-heading-text-icon {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}
.sd-heading-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .8rem;
    font-weight: 500;
    color: #213555;
}

.sd-link-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .8rem;
}

.sd-footer {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-self: center;
    align-self: flex-start;
    width: 100%;
    height: auto;
}


.sd-projects-link-wrapper,
.sd-team-link-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding-left: .5rem;
}

.sd-team-link-wrapper:hover {
    .sd-links {
        color: #fff;
        font-weight: 600;
        background-color: #ACB1D6;
        box-shadow: 0 0 4px 1px rgba(148, 154, 161, 0.2);
    }
    .sd-team-icon-wrapper {
        outline: 3px solid #ACB1D6;
        border: none;
        box-shadow: 0 0 4px 1px rgba(148, 154, 161, 0.2);
    }
}

.sd-project-color-box {
    width: 0.5rem;
    height: 1rem;
    border-radius: 0.3rem;
    background-color: #ACB1D6;
}
.sd-projects-link {
    font-size: .9rem;
}

.sd-buttons-interface-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.3rem;
}
.interface-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    background: none;
    border-radius: 0.2rem;
    cursor: pointer;
    padding: 0.18rem;
}
.add-btn {
    width: 0.8rem;
    padding: 0.18rem;
}
.interface-btn:hover {
    outline: 1px solid rgba(66, 66, 66, 0.2);
}

.sd-sub-project-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    padding: 0.5rem 1.8rem;
}
.sd-links-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    max-height: 165px;
}
.sd-links-container::-webkit-scrollbar {
    width: 2px;
}
.sd-links-container::-webkit-scrollbar-thumb {
    background: none;
}

.sd-links-container:hover::-webkit-scrollbar-thumb {
    background: #949aa1;
}
.sd-team-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #213555;
    padding: 0.2rem;
    min-width: 1rem;
    border-radius: 0.2rem;
}
.sd-team-icon {
    font-size: 0.8rem;
}

.hide-projects-and-teams {
    display: none;
}

.rotate-dropdown-btn {
    rotate: -90deg;
}