.task-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 6px;
    min-height: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgba(66, 66, 66, 0.2);
    padding: 10px 
}

.task-container:hover {
    outline: 2px solid #ACB1D6;
} 

.task-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.task-cbox:checked {
    .task-heading {
        text-decoration: line-through;
    }
}

.checkbox-heading-interface-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.task-edit-del-btn-container {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}

.d-p-pi-contianer {
    display: flex;
    justify-content: center;
    padding-left: 8px;
    width: 100%;
}

.date-description-container {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
}

.date-description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 12px;
    gap: 5px;
}

.task-interface-btn,
.pt-del-btn {
    border: none;
    padding: 4px 6px;
    background: none;
    border-radius: 6px;
}

.task-interface-btn:hover,
.pt-del-btn:hover {
    background-color: #DBDFEA;
}

.priority-assignee-wrappper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    padding-right: 8px;
}

.task-heading {
    max-width: 350px;
}
.task-description,
.task-priority {
    font-size: 13px;
    max-width: 350px;
}

.task-date,
.task-name-wrapper {
    display: flex;
    gap: 0.7em;
    align-items: center;
    justify-content: flex-start;
    font-size: 13px;
}

.task-date-icon {
    width: 1rem;
}

.priority-indicator {
    width: 4px;
    background-color: rgb(64 64 64 / 20%);
}

.priority-high {
    background-color: rgb(255 16 16 / 40%);
}

.priority-low {
    background-color: rgb(58 135 224 / 40%);
}

.priority-medium {
    background-color: rgb(28 247 28 / 40%);
}

.task-completed {
    background-color: rgb(64 64 64 / 10%);
    text-decoration: line-through;
    padding: 15px 10px !important;
    color: rgb(64 64 64 / 50%)
}