@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Pixelify+Sans&family=Poppins&family=Roboto&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#root {
    display: grid;
    grid-template-columns: 1.5fr 8fr;
    height: 100vh;
    justify-content: center;
}

/* .header {
    display: flex;
    grid-area: 1 / 1 / 2 / 3;
} */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    grid-row: 1 / 2;
    background-color: #DBDFEA;
    /* box-shadow: 0 0 4px 4px rgba(153, 153, 153, 0.1); */
    padding: .8rem 1.5rem;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px; 
}

#logo-icon{ 
    width: 2.8em;
}
#logo-text {
    display: flex;
    flex: 1 1 auto;
    font-family: 'Montserrat';
    font-size: 34px;
    font-weight: 400;
}
.sd-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.sd-links {
    text-decoration: none;
    color: #213555;
}

.sd-links:hover {
    color: #FFEAD2;
}
.sd-icons {
    width: 1.4em;
    height: 1.4em;
}
.sd-icons:hover {
    color: #FFEAD2;
}
.sd-main {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
}

.sd-heading-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sd-link-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .8em;
}

.sd-footer {
    display: flex;
    flex-direction: column;
    gap: .8em;
    justify-self: center;
    align-self: flex-start;
    grid-area: 3 / 1 / 4 / 2;
    width: 100%;
    height: auto;
}
.footer  {
    grid-area: 3 / 1 / 4 / 3;
    justify-self: flex-end;
    align-self: flex-end;
}