@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Pixelify+Sans&family=Poppins&family=Roboto&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#root {
    display: grid;
    grid-template-rows: 4rem auto;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}
