@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Pixelify+Sans&family=Poppins&family=Roboto&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
}
#root {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    height: 100vh;
    justify-content: center;
}

/* .header {
    display: flex;
    grid-area: 1 / 1 / 2 / 3;
} */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    grid-row: 1 / 2;
    background-color: #DBDFEA;
    /* box-shadow: 0 0 4px 4px rgba(153, 153, 153, 0.1); */
    padding: .8rem 2rem 1.5rem 2rem;
}
.top-section,
.sd-footer {
    width: 100%;
}
.logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 30px; 
}

#logo-icon{ 
    width: 2.2rem;
}
#logo-text {
    display: flex;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.5rem;
}
.sd-main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.sd-links {
    text-decoration: none;
    color: #213555;
    font-size: .9rem;
    width: 100%;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.sd-links:hover {
    color: #fff;
    font-weight: 600;
    background-color: #ACB1D6;
}
.sd-icons {
    width: 1.2rem;
}

.sd-heading-icon {
    width: 2rem;
    height: 2rem;
}
.sd-main {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
}

.sd-section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sd-heading-wrapper {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
}

.sd-heading-text-icon {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;
}
.sd-heading-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .8rem;
    font-weight: 500;
    color: #213555;
}

.sd-link-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .8rem;
}

.sd-footer {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-self: center;
    align-self: flex-start;
    grid-area: 3 / 1 / 4 / 2;
    width: 100%;
    height: auto;
}


.sd-projects-link-container,
.sd-team-link-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding-left: .5rem;
}

.sd-project-color-box {
    width: 0.5rem;
    height: 1rem;
    border-radius: 0.3rem;
    background-color: red;
}
.sd-projects-link {
    font-size: .9rem;
}

.sd-buttons-interface-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.3rem;
}
.interface-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    background: none;
    border-radius: 0.2rem;
    cursor: pointer;
    padding: 0.18rem;
}
.add-btn {
    width: 0.8rem;
    padding: 0.18rem;
}
.interface-btn:hover {
    background: #fff;
}

.sd-sub-project-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    padding: 0.5rem 1.8rem;
}
.sd-team-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #213555;
    padding: 0.2rem;
    min-width: 1rem;
    border-radius: 0.2rem;
}
.sd-team-icon {
    font-size: 0.8rem;
}